<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>go2Doc - Em breve!</title>
    <meta name="description" content="Agendamento online de consultas em clínicas e consultorios: dentistas, dermatologistas, clínicos-gerais, fisioterapeutas, oftalmologistas, e muito mais. Queremos que você esteja sempre bem!">
    <meta name="Keywords" content="Agendar consulta, marcar consulta, go2doc, médico consultório, médico, clínica, marcar horário médico, dentista clínica, marcar horário dentista, marcar consulta medico, marcar consulta dentista, cadastrar clinica, cadastrar consultório">
    <meta name="author" content="Lambda3">

    <!--[if lt IE 7]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
    <![endif]-->

    <!--[if lt IE 8]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script> 
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css" media="all" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28397102-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>

     <style type="text/css">
       body {
         padding-top: 60px;
       }
     </style>
   </head>

   <body>

     <div id="fb-root"></div>
     <script>(function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
       fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));</script>

     <%= render :partial => "top_bar_nav" %>
     <div class="container internal">

       <% if flash.notice %>
         <div class="alert-message success"><%= flash.notice %></div>
       <% end %>


       <%= yield %>

     </div> <!-- /container -->
     <%= render :partial => "footer" %>

   </body>
 </html>
